<h1>{{ title }}</h1>
<table>
    <tr>
        <td>Dname</td>
        <td>Dnumber</td>
    </tr>
    {{#each department}}
    <tr>
        <td>{{Dname}}</td>
        <td>{{Dnumber}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{ title2 }}</h1>
<table>
    <tr>
        <td>Sname</td>
        <td>Snumber</td>
    </tr>
    {{#each site}}
    <tr>
        <td>{{Sname}}</td>
        <td>{{Snumber}}</td>
    </tr>
    {{/each}}
</table>